extends layout

block content
  h1= title

  if authors_list.length
    ul
      each author in authors_list
        li
          a(href=author.url) #{author.name}
          |  (#{author.lifespan})
  else
    p There are no authors.