extends layout

block content
  h1=title

  form(method='POST')
    div.form-group
      label(for='firstName') First Name:
      input#firstName.form-control(type='text', placeholder='First name (Christian)' name='firstName' required)
      label(for='surname') Surname:
      input#surname.form-control(type='text', placeholder='Surname (Family name)' name='surname' required)
    div.form-group
      label(for='birthDate') Date of birth:
      input#birthDate.form-control(type='date' name='birthDate' value=(undefined===author ? '' : author.birthDate))
      label(for='deathDate') Date of death:
      input#deathDate.form-control(type='date' name='deathDate' value=(undefined===author ? '' : author.deathDate))
    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg


  if errorMensage
    ul
      li!= errorMensage