extends layout

block content
  h1= title
  if books_list.length
    ul
      each book in books_list
        li
          a(href=book.url) !{book.title}
          |  (#{book.author.name})

  else
    p There are no books.