extends layout

block content
  h1= title

  if genres_list.length
    ul
      each val in genres_list
        li
          a(href=val.url) #{val.name}
          

  else
    p There are no books of any genre in this library.